* {
  margin: 0;
  padding: 0;
}
/* navbar css */
.navbar-container {
  display: flex;
  height: 7vh;
  width: 100vw;
  align-items: center;
  justify-content: start;
  background-color: grey;
  color: white;
  padding: 0 4vw;
  gap: 1vw;
}

.navbar-logo {
  display: flex;
  height: 50%;
  width: 200px;
  align-items: center;
  gap: 1vw;
}
.navbar-logo img {
  height: 5vh;
  flex: 0;
}
.navbar-list ul {
  list-style: none;
  display: flex;
  gap: 3vw;
}

.navbar-list ul li a {
  text-decoration: none;
  color: white;
  scroll-behavior: smooth;
}

.navbar-list ul li a:hover {
  text-decoration: none;
  color: bisque;
}

/* navbar end */

/* home css */

/* home end */

/* shop css */
/* shop end */

/* footer css */

.footer-boxes {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.footer-box ul li {
  list-style-type: none;
  margin-bottom: 10px;
  font-size: small;
  color: dimgray;
}

a {
  text-decoration: none;
  color: dimgray;
}

.footer-box ul li a:hover {
  color: blueviolet;
}

.footer-box ul li:hover {
  color: blueviolet;
  cursor: pointer;
}
