* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  overflow-x: hidden;
}
:root {
  --first_color: #15241c;
  --second-color: #09382f;
  --third-color: #acb1d6;
  --fourth-color: #8294c4;
  --fifth-color: #f8f1e0;
  --sixth-color: #dbdfea;
  scroll-behavior: smooth;
}
/* navbar css */
.navbar-container {
  top: 0;
  left: 0;
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  background-color: #8294c4;
  color: white;
  padding: 0 4vw;
  gap: 1vw;
  position: fixed;
  z-index: 9000;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.navbar-logo {
  display: flex;
  height: 50%;
  width: 200px;
  align-items: center;
  gap: 1vw;
}
.navbar-logo img {
  height: 5vh;
  flex: 0;
}
.navbar-list ul {
  list-style: none;
  display: flex;
  gap: 3vw;
}

.navbar-list ul li a {
  text-decoration: none;
  color: white;
  scroll-behavior: smooth;
}

.navbar-list ul li a:hover {
  text-decoration: none;
  color: bisque;
}

/* navbar end */

/* home css */
#home {
  position: relative;
  width: 100%;
  display: flex;
  min-height: 100vh;
  padding: 100px;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textBox {
  position: relative;
  max-width: 600px;
  font-style: italic;
}
.textBox h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 700;
}
.textBox h2 span {
  color: #8294c4;
  font-size: 1.2em;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-weight: 800;
}
.textBox p {
  color: #333;
}
.textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #8294c4;
  color: black;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  font-style: normal;
}

.imgBox {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin-top: 50px;
  justify-content: flex-end;
}
.imgBox img {
  max-width: 560px;
  flex: 0 0 1px;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%);
  display: pointer;
}
.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transform: 0.6s;
}
.thumb li:hover {
  transform: translate(-15px);
}
.thumb li img {
  max-width: 60px;
  float: right;
  margin: 5px;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8294c4;
  clip-path: circle(600px at right);
}

/* home end */

/* shop css */

.shop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  gap: 2%;
}

.cards h1 {
  font-size: (1vmax + 3px);
  position: absolute;
  color: silver;
  top: -22%;
  left: 0;
}

.cards {
  position: relative;
  border-top: 1px solid rgba(201, 194, 194, 70);
  border-bottom: 1px solid rgba(201, 194, 194, 70);
  display: flex;
  padding: 1%;
  gap: 5%;
  height: 25%;
  width: 75%;
  background-color: white;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  min-width: 500px;
  min-height: 300px;
}
.card {
  box-sizing: border-box;
  border-radius: 10px;
  height: 90%;
  width: 18%;
  max-width: 200px;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}
.card-description {
  height: 20%;
  display: flex;
  justify-content: start;
  padding: 3%;
  gap: 10px;
  flex-direction: column;
  box-sizing: border-box;
}

.card-image {
  height: 60%;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid grey;
}

.card-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.88;
}

.card-stock {
  display: flex;
  height: 20%;
  padding: 3%;
  align-items: end;
  justify-content: space-between;
  box-sizing: border-box;
}

.card-stock div {
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: #8294c4;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}
.card-stock div:hover {
  cursor: pointer;
}

.card-stock div:active {
  border: 1px dotted grey;
}

/* shop end */
/* testimonial */

#Testimonials {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  margin-bottom: 400px;
  padding-top: 125px;
  padding-left: 50px;
  padding-right: 50px;
}

.Testimonials_title h2 {
  font-size: 42px;
  letter-spacing: -2px;
  font-weight: 700;
  letter-spacing: 0;
  margin-bottom: 30px;
  text-align: center;
  color: var(--first_color);
}

.Testimonials_title > p {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 40px;
  font-weight: 300;
  text-align: center;
}

.testimonials_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 5%;
}

.testimonials_content:hover {
  transform: scale(1);
}

.testimonials_container_center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.testimonials_content {
  position: relative;
  transition: all 0.3s ease-in-out;
  transform: scale(0.9);
  opacity: 0.9;
  max-width: 500px;
}

.testimonials_avatar {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 90px;
  height: 90px;
  margin-left: -45px;
  z-index: 1;
}

.testimonials_avatar img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  border: 6px solid #fff;
  box-shadow: 0 9px 26px rgba(58, 87, 135, 0.1);
  background-color: #8294c4;
}

.testimonials_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px 50px 75px;
  overflow: hidden;
  background: var(--third-color);
  border: 1ps solid #f1f1f1;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.testimonials_text_after {
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  color: var(--fifth-color);
  opacity: 0.3;
  font-size: 35px;
  transition: all 400ms linear;
  bottom: 25px;
  right: 30px;
}

.testimonials_text_before {
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  color: var(--fifth-color);
  opacity: 0.3;
  font-size: 35px;
  transition: all 400ms linear;
  top: 25px;
  left: 30px;
}

.testimonials_text p {
  color: var(--second-color);
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  line-height: 24px;
  padding-bottom: 10px;
  font-weight: 500;
}

.testimonials_information h3 {
  font-weight: 600;
  color: #ffead2;
  font-size: 22px;
  text-shadow: 1px 1px 0 #7a7a7a, 1px 1px 1px rgba(206, 162, 131, 0.44);
}

.testimonials_information h4 {
  font-weight: 400;
  font-size: 16px;
  padding-top: 6px;
  color: #ffead2;
  text-align: center;
  text-shadow: 1px 1px 0 #7a7a7a, 1px 1px 1px rgba(206, 162, 131, 0.44);
}

.testimonials_container_center .active {
  opacity: 1;
  transform: scale(1);
  width: 100%;
  flex-grow: 6;
}

.testimonials_container_center .active:hover {
  transform: scale(1.1);
}

.testimonials_container_center .active .testimonials_text {
  background: var(--fourth-color);
  box-shadow: 0 9px 26px rgba(58, 87, 135, 0.1);
}

.listing-atntt-button {
  position: relative;
  width: 80px;
  height: 50px;
  z-index: 1;
  cursor: pointer;
  background: var(--second-color);
  box-shadow: 0 9px 26px rgba(58, 87, 135, 0.45);
  transition: all 200ms linear;
  outline: none;
}

.listing-atntt-button.listing-atntt-button-next {
  padding-right: 20px;
  border-radius: 60px 0 0 60px;
}

.listing-atntt-button.listing-atntt-button-prev {
  padding-left: 20px;
  border-radius: 0 60px 60px 0;
}

.listing-atntt-button.listing-atntt-button-next:hover {
  right: -15px;
  background: rgba(6, 27, 65, 0.4);
}

.listing-atntt-button.listing-atntt-button-prev:hover {
  left: -15px;
  background: rgba(6, 27, 65, 0.4);
}

.container {
  padding: 2px 16px;
}
/* testimonial end*/
/* footer css */

.footer-boxes {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: start;
  background-color: #8294c4;
  height: 50vh;
  padding-top: 5%;
  color: black;
}

.footer-box ul li {
  list-style-type: none;
  margin-bottom: 10px;
  font-size: small;
}
.footer-box ul h5 {
  margin-bottom: 30px;
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: inherit;
}

.footer-box ul li a:hover {
  color: blueviolet;
}

.footer-box ul li:hover {
  color: blueviolet;
  cursor: pointer;
}

/* utilities */

.display-none {
  transform: scale(0);
}

#cart-list {
  top: 1vmax;
  right: 5%;
  position: fixed;
  z-index: 9998;
  color: white;
  font-size: 1.5rem;
}

#pop-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  position: absolute;
  top: 10;
  right: 20px;
  height: auto;
  width: 325px;
  background-color: white;
  color: black;
  z-index: -1;
  opacity: 0;
  overflow: hidden;
  gap: 15px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
#cart-list h5 {
  padding: 5px;
  font-size: 16px;
  text-align: center;
  width: 100%;
  color: white;
  background-color: rgb(90, 90, 90);
}

#cart-bag:hover {
  cursor: pointer;
}

.items {
  position: relative;
  display: flex;
  border-radius: 10px;
  width: 95%;
  height: 200px;
  background-color: inherit;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.item-image {
  background-image: url(img/pecah.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40%;
  border-right: 1px solid rgba(90, 90, 90, 0.5);
}

.item-text {
  font-size: 0.7em;
  display: flex;
  color: black;
  flex-direction: column;
  padding: 5px 10px;
  gap: 10px;
}

.harga {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.btn-close {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: rgb(199, 104, 104);
  border-radius: 50%;
  transform: translate(30%, -30%);
  z-index: 9000;
}

.btn-close:hover {
  cursor: pointer;
}

.checkout-container {
  margin-top: 10px;
  width: 100%;
  display: none;
  order: 999;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.total {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  font-size: 16px;
  color: rgb(90, 90, 90);
}

.checkout {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  background-color: rgb(90, 90, 90);
  color: white;
  font-size: 1rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.checkout:hover {
  cursor: pointer;
}

.checkout:active {
  transform: scale(0.9);
}

.kedip-kedip {
  animation-name: kedip;
  animation-duration: 2s;
  animation-iteration-count: 2;
  pointer-events: none;
}

@keyframes kedip {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.modal-box {
  display: none;
  position: fixed;
  top: 50%;
  right: 50%;
  align-items: center;
  justify-items: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  z-index: 9999;
  height: 600px;
  width: 400px;
  transform: translate(50%, -50%);
  background-color: #dbdfea;
}

.btn-ok {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 80%;
  right: 50%;
  transform: translate(50%, 0%);
  width: 100px;
  height: 60px;
  color: white;
  background-color: rgb(110, 110, 202);
  z-index: 9999;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.btn-ok:hover {
  cursor: pointer;
}

.modal-text {
  text-align: center;
  flex-direction: column;
  width: 200px;
  height: 300px;
  color: black;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10%;
  right: 50%;
  transform: translate(50%, 0%);
}

.layar {
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  opacity: 0.7;
  background-color: black;
  z-index: 9998;
}
